      * { margin: 0; padding: 0;  }
      
      form { background:#212A34; padding: 6px; position: fixed;left:0; bottom: 0; width: 100%; }
      form input { border:0;border-radius: 5px; padding: 10px; width: 95%; }
      form button { border: none; padding: 9px 12px !important; margin:-2px 0 0 5px; }
      #messages { list-style-type: none; margin-top: 20px; padding: 0; width:100%;float:left; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee;border-radius:3px; }
      .chat{margin: 10px auto;}
      .status{position:fixed;top:0;width:100%;float:left}
